.projects-section {
    padding: 2rem;
    border-radius: 8px;
    max-width: 1200px;
    margin: 2rem auto;
}

.projects-title {
    font-size: 2.5rem;
    color: #B9A7F5;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 60px;
    font-weight: 450;
}

.project {
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.project-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
    font-weight: 450;
}

.project-description {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 1rem;
}

.project-details {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.project-link {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-link:hover {
    color: #B9A7F5;
}

.project-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 1rem 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(185, 167, 245, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: -5px;
}

.project-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(185, 167, 245, 0.6);
}

@media (max-width: 768px) {
  .projects-section {
    padding: 15rem 1rem 2rem;
  }
}