@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  margin-top: 0; 
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  flex-direction: column;
  width: 100vw;
}

h1, h2 {
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: #F6F6FF;
  color: #1A1A1A;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 2px 6px rgba(185, 167, 245, 0.4);
}

.navbar-logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 36px;
  width: auto;
  vertical-align: middle;
}

.navbar nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar nav ul li {
  list-style: none;
}

.navbar nav ul li a {
  color: #1A1A1A;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  font-weight: 450;
}

.navbar nav ul li a:hover::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B9A7F5;
  transition: all 0.3s ease-in-out;
}

.main {
  padding: 6rem 2rem 2rem 2rem; 
  width: 100%;
  margin: 0 auto;
}

.footer {
  background-color: #F6F6FF;
  color: black;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  box-shadow: 0 -2px 6px rgba(185, 167, 245, 0.4);
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .navbar nav ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar nav ul li a {
    font-size: 1.2rem;
    padding: 1rem 0;
  }

  .navbar-logo {
    margin: 0 auto;
    justify-content: center;
  }
}